.box1,.box2,.box3,.box4{
  display: flex;
  flex-direction: row;
}
.box5{
  display: flex;
  flex-direction: row;
  gap:10px;
  margin-left: 15%;
}
.mainWrapper{
  max-width: 650px;

}
.display0{
  min-width:1250px;
}
.dropdown{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#eee;
  margin-right: 10px;
  margin-top: 5px;
  min-width: 100px;
  text-align: center;
  border-radius: 10px;
}
p{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  
}
.latestPrice,.highestPrice,.lowestPrice{
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.highestPrice{
  color:green;
}

.lowestPrice{
  color:red;
}

.priceWrapper0{
  width:100%;
  margin-left: 8%;
  height:10px;
  display: flex;
  flex-direction: row;
  gap:20px;
}
.priceWrapper1{
  width:100%;
  margin-left: 14%;
  height:10px;
}

.chartWrapper{
  display: flex;
  flex-direction: column;
  min-width: 700px;
}
.dropDownValues{
  text-align: center;
}